/* site footer */
.site-footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.footer_topSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.footer_leftSection {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.footer_rightSection {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

}

.footer_copy {
    border-top: 1px solid #fff;
    padding-top: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.social_media_icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

}

.social_media_icons a {
    color: white;
    font-size: 1.035rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.social_media_icons img {
    width: 20px;
    height: 20px;
    display: block;
    filter: invert(1);
}