* {
  box-sizing: border-box;
}

html {

}

body {
  background:#f90;
}

/* headings */

h1 {

}

h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  font-weight: 400;
  color: --grey;
}

/* text */

p {

}

/* lists */

ul {

}

ol {

}

li {

}

