/* CSS HEX */
--snow: #fffbfeff;
--grey: #7a7d7dff;
--black: #000000ff;
--dust-grey: #d0cfcfff;
--white: #ffffffff;

/* CSS HSL */
--snow: hsla(315, 100%, 99%, 1);
--grey: hsla(180, 1%, 48%, 1);
--black: hsla(0, 0%, 0%, 1);
--dust-grey: hsla(0, 1%, 81%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$snow: #fffbfeff;
$grey: #7a7d7dff;
$black: #000000ff;
$dust-grey: #d0cfcfff;
$white: #ffffffff;

/* SCSS HSL */
$snow: hsla(315, 100%, 99%, 1);
$grey: hsla(180, 1%, 48%, 1);
$black: hsla(0, 0%, 0%, 1);
$dust-grey: hsla(0, 1%, 81%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$snow: rgba(255, 251, 254, 1);
$grey: rgba(122, 125, 125, 1);
$black: rgba(0, 0, 0, 1);
$dust-grey: rgba(208, 207, 207, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
$gradient-right: linear-gradient(90deg, #fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
$gradient-left: linear-gradient(270deg, #fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
$gradient-radial: radial-gradient(#fffbfeff, #7a7d7dff, #000000ff, #d0cfcfff, #ffffffff);
